services:
  web:
    build: .
    container_name: botofarm-web
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8000:8000"

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/v1/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s

    # если хочешь автоперезапуск при изменении кода на dev — можно добавить volume
    volumes:
      - ./app:/app/app

  db:
    image: postgres:16-alpine
    container_name: botofarm-db
    restart: always
    environment:
      POSTGRES_DB: botfarm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
